.gallery__controls {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: flex-end;
	padding: rem(5) rem(3);
	font-size: rem(18);
	color: $white;
	background-color: $vivid-blue;
}

.gallery__arrow {
	display: inline-block;
	border: 0;
	padding: 0;
	width: rem(18);
	height: rem(18);
	background: none;
}

.gallery__arrow-icon {
	fill: none;
	stroke: $white;
	stroke-width: 2px;
}

.gallery__count {
	margin: 0 rem(27);
}

.gallery__content {
	@include fluid-type(rem(16), rem(24));

	margin-bottom: 0;
	padding: rem(25) rem(15) rem(65) rem(30);
	box-shadow: 0 rem(-1) 0 0 $vivid-blue;
	color: $white;
	background-color: $vivid-blue;
}

.gallery__headline {
	@include fluid-type(rem(24), rem(64));

	margin: rem(22) auto;
	font-weight: $font-weight-primary;
}

@media screen and (min-width: rem($tablet-width)) {
	@import "tablet";
}

@media screen and (min-width: rem($laptop-width)) {
	@import "laptop";
}
