.gallery__item-container {
	flex-shrink: 0;
}

.gallery__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-right: rem(20);
	min-height: rem(627);

	p {
		font-weight: $font-weight-secondary;
	}
}

.gallery__content-wrap {
	max-width: rem(900);
}

.gallery__headline {
	margin: rem(17) 0;
}
