ul.account-menu
	li.account-menu__item
		a.account-menu__link(
			href="#"
		)
			| Оповещения
	li.account-menu__item.account-menu__item--profile(
		class={'account-menu__item--active': page === 'account'}
	)
		a.account-menu__link(
			href="#"
		)
			| Мой аккаунт
	li.account-menu__item
		button.account-menu__button.account-menu__button--icon-plus(
			type="button"
		)
			| Опубликовать
