header.header
	.header__controls
		.header__toggler
			include toggler
		.header__logo
			include ../logo
		a.header__account(
			href="#"
			aria-label="Мой аккаунт"
		)
	.header__search-form
		include ../search-form
	.header__navigation
		include navigation
		include account-menu
