nav.navigation.navigation--closed
	ul.navigation__list
		li.navigation__item(
			class={'navigation__item--active': page === 'index'}
		)
			a.navigation__link(
				href="index.html"
			)
				| Вакансии
		li.navigation__item(
			class={'navigation__item--active': page === 'companies'}
		)
			a.navigation__link(
				href="companies.html"
			)
				| Компании
		li.navigation__item(
			class={'navigation__item--active': page === 'about'}
		)
			a.navigation__link(
				href="about.html"
			)
				| О компании
		li.navigation__item(
			class={'navigation__item--active': page === 'details'}
		)
			a.navigation__link(
				href="details.html"
			)
				| Сотрудники
