.account-menu {
	@include unstyle-list;

	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	color: $raven;
}

.account-menu__item {
	margin-right: rem(30);
	margin-bottom: 0;
	height: 100%;

	&:last-of-type {
		margin-right: 0;
	}

	&--profile {
		@include visually-visible;

		margin-right: rem(30);
	}
}

.account-menu__link {
	text-decoration: none;
	color: currentColor;

	&--active {
		position: relative;
		color: currentColor;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			bottom: rem(-3);
			width: 101%;
			height: rem(2);
			background-color: $dodger-blue;
		}
	}
}

.account-menu__button {
	margin-left: rem(18);
	padding: rem(17) rem(20) rem(17) rem(37);

	&--icon-plus::before {
		transform: translate(250%, -50%);
	}
}
