div.announcement
    div.announcement__content
        p.announcement__title
            | Найди Работу Своей Мечты или Кандидата
        div.announcement__description
            | Добавь своё резюме или опубликуй вакансию для поиска кандидатов,
            | пригласи на собеседование и получи хорошие кадры.
    p.announcement__controls
        a.announcement__link(
            href="#"
        )
            | Добавить резюме
        |
        |
        span
            | или
        |
        |
        a.announcement__link(
            href="#"
        )
            | Разместить вакансию
