.intro__search-result {
	@include fluid-type(rem(24), rem(36));

	padding: rem(1) rem(17) rem(3) rem(17);
	background-color: $athens-gray;

	p {
		margin: rem(19) 0;
	}
}

.intro__search-form {
	display: none;
}

@media screen and (min-width: rem($tablet-width)) {
	@import "tablet";
}
