.intro {
	display: flex;
	flex-flow: row wrap;
	margin: 0 auto rem(64) auto;
	padding: 0 rem(16);
	max-width: rem($wrapper);
}

.intro__search-result {
	flex: 1 0 50%;
	padding: 0;
}

.intro__search-form {
	display: flex;
	flex: 1 0 50%;
	align-items: center;
	justify-content: flex-end;
}
