.filters {
	display: flex;
	flex-direction: column;
	border-top: rem(1) solid $iron;
	border-bottom: rem(1) solid $iron;
}

.filters__toggle {
	position: relative;
	display: inline-block;
	margin: 0 auto;
	padding: rem(18) 0;
	width: 100%;
	font-size: rem(18);
	text-align: center;
	cursor: pointer;
}

.filters__toggle-icon {
	@include transition;

	fill: none;
	stroke: $black;
	stroke-linecap: round;
	stroke-width: rem(2);
	transform: translate(rem(-1), rem(3));

	.filters__toggle--active & {
		transform: translate(rem(-1), rem(3)) rotate(180deg);
	}
}

.filters__form {
	display: block;
	overflow: hidden;
	padding: rem(21) rem(21) 0 rem(21);
	width: 100%;
	max-height: rem(10000);
	opacity: 1;
	transition: all 0.8s ease-out;

	&--closed {
		margin: 0;
		padding: 0;
		max-height: 0;
		opacity: 0;
		transition: all 0.8s ease-out;
	}
}

.filters__group {
	position: relative;
	margin: 0 0 rem(36) 0;
	border: 0;
	padding: 0 0 rem(21) 0;

	&::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		display: block;
		width: calc(100% + 36px);
		height: rem(1);
		background-color: $porcelain;
	}

	&:nth-of-type(2) {
		margin-bottom: rem(44);
	}
}

.filters__headline {
	position: relative;
	margin-bottom: rem(27);
	width: 100%;
	font-weight: $font-weight-secondary;
	color: $black;

	&::after {
		content: "\2015";
		position: absolute;
		right: 0;
		top: 0;
		display: block;
		font-weight: $font-weight-primary;
		transform: translate(0, -1px) scale(0.8);
	}

	&--slider {
		margin-bottom: rem(10);
	}
}

.filters__label {
	position: relative;
	display: block;
	margin: 0 0 rem(16) 0;
	width: 100%;
	cursor: pointer;

	&--arrow {
		&::before {
			@include triangle(to bottom, rem(7), rem(6), $storm-gray);

			content: "";
			position: absolute;
			right: 0;
			top: 50%;
			display: block;
			width: rem(7);
			height: rem(6);
			transform: translate(0, -300%);
		}
	}

	&--underline {
		&::after {
			content: "";
			position: absolute;
			right: 0;
			bottom: rem(19);
			display: block;
			width: 100%;
			height: rem(2);
			background-color: $porcelain;
		}
	}

	// pixel perfect hack
	.filters__group:nth-of-type(2) & {
		margin: 0 0 rem(14) 0;
	}
}

.filters__select {
	appearance: none;
	margin: 0 0 rem(19) 0;
	border: 0;
	padding: 0 0 rem(14) 0;
	width: 100%;
	color: currentColor;
	background-color: transparent;

	+ .ui-selectmenu-button,
	+ .ui-selectmenu-button.ui-button {
		appearance: none;
		margin: 0 0 rem(22) 0;
		border: 0;
		padding: 0 0 rem(14) 0;
		width: 100%;
		color: currentColor;
		background-color: transparent;
	}

	&::-ms-expand {
		display: none;
	}

	.ui-icon {
		display: none;
	}

	.ui-selectmenu-text {
		margin-right: 0;
	}
}

.filters__radio {
	@include visually-hidden;
	@include transition;
}

.filters__checkbox {
	@include visually-hidden;
}

.filters__text {
	@include transition;

	margin: rem(15) 0;
	color: currentColor;

	.filters__checkbox + & {
		position: relative;
		padding: 0 0 0 rem(25);

		&::after,
		&::before {
			@include transition;

			content: "";
			position: absolute;
			left: 0;
			top: 50%;
			display: block;
			width: rem(13);
			height: rem(1);
			background-color: $nevada;
			transform: translate(0, -100%);
		}
	}

	.filters__radio:checked + & {
		font-weight: $font-weight-secondary;
	}

	.filters__checkbox:checked + & {
		font-weight: $font-weight-secondary;

		&::after,
		&::before {
			height: rem(2);
		}

		&::before {
			transform: rotate(135deg);
		}

		&::after {
			transform: rotate(-135deg);
		}
	}
}

.filters__slider {
	position: relative;
	display: inline-block;
	margin: 0 0 rem(14) 0;
	border-radius: rem(6);
	padding: 0;
	width: 100%;
	height: rem(4);
	background-color: $mercury;
}

.filters__slider-handle {
	position: absolute;
	top: 0;
	z-index: 2;
	display: inline-block;
	border: rem(4) solid $dodger-blue;
	border-radius: 50%;
	width: rem(20);
	height: rem(20);
	background-color: $white-lilac;
	transform: translateY(-40%);
	touch-action: none;
}

.filters__slider-range {
	position: absolute;
	top: 0;
	z-index: 1;
	height: rem(4);
	background-color: $dodger-blue;
}

.filters__amount {
	margin: 0 0 rem(32) 0;
	border: 0;
	background-color: transparent;
}

@media screen and (min-width: rem($tablet-width)) {
	@import "tablet";
}
