.job {
	flex-direction: column;
	height: 100%;
}

.job__description {
	margin-bottom: rem(16);
}

.job__content {
	margin-bottom: auto;
}

.job__controls {
	flex-basis: auto;
	flex-direction: column;
	align-self: flex-start;
	justify-content: flex-end;
	margin-top: auto;
}

.job__button {
	align-self: flex-start;
	margin: 0 0 rem(8) 0;
}

.job__meta {
	align-self: flex-end;
}
