.job {
	padding: rem(6) rem(16) rem(25) rem(16);
}

.job__content {
	margin: 0 0 rem(8) 0;
}

.job__title {
	@include fluid-type(rem(18), rem(24));

	margin: rem(18) 0 rem(14) 0;
	font-weight: $font-weight-secondary;
}

.job__info {
	@include unstyle-list;
	@include fluid-type;

	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	color: $storm-gray;
}

.job__info-item {
	margin: 0 rem(19) rem(8) 0;

	&:nth-last-of-type(2),
	&:last-of-type {
		margin-right: 0;
	}
}

.job__site {
	margin: 0;
	text-decoration: none;
	color: currentColor;

	&:hover {
		text-decoration: underline;
	}

	&:active {
		opacity: 0.95;
	}
}

.job__city {
	margin: 0;
}

.job__shedule {
	margin: 0;
}

.job__controls {
	@include fluid-type;

	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	color: $storm-gray;
}

.job__date {
	display: none;
	font-style: italic;
}

.job__button {
	@include fluid-type;
	@include ripple-effect($porcelain, $nevada);

	margin: 0 0 rem(4) 0;
	border: rem(1) solid $mercury;
	border-radius: rem(4);
	padding: rem(9);
	color: $black;
	background-color: $alabaster;
}

.job__meta {
	margin: 0 0 rem(4) 0;
}

.job__tags {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	border: rem(1) solid $mercury;
	border-radius: rem(4);
	padding: 0 rem(2) 0 rem(5);

	&--desktop {
		display: none;
	}
}

.job__tag {
	margin: 0 rem(3) 0 0;
	line-height: 1.7;

	&:last-of-type {
		margin-right: 0;
	}
}

@media screen and (min-width: rem($tablet-width)) {
	@import "tablet";
}

@media screen and (min-width: rem($laptop-width)) {
	@import "laptop";
}
