.main__content {
	@include fluid-type(rem(16), rem(24));

	padding: rem(46) rem(25) rem(65) rem(30);
	font-weight: $font-weight-primary;

	&--brand-color {
		box-shadow: 0 rem(-1) 0 0 $vivid-blue;
		color: $white;
		background-color: $vivid-blue;
	}
}

.main__headline {
	@include fluid-type(rem(24), rem(64));

	margin: 0 0 rem(24) 0;
}
