.main__content {
	@include fluid-type(rem(16), rem(24));

	padding-top: rem(25);

	&--brand-color {
		padding: rem(25) rem(25) rem(65) rem(30);
		box-shadow: 0 rem(-1) 0 0 $vivid-blue;
		color: $white;
		background-color: $vivid-blue;
	}
}

.main__title {
	@include fluid-type(rem(36), rem(64));

	margin: rem(20) auto;
	font-weight: $font-weight-primary;
	text-align: center;
}

.main__headline {
	@include fluid-type(rem(24), rem(64));

	margin: rem(22) auto;
	font-weight: $font-weight-primary;
}
