.main__wrapper {
	margin: 0 auto rem(30) auto;
	padding-bottom: rem(1);
	background-color: $athens-gray;
}

.main__content {
	@include fluid-type(rem(16), rem(24));

	padding-top: rem(25);

	&--narrow {
		margin-bottom: rem(53);
		padding: rem(25) rem(13) rem(1) rem(21);
	}

	&--gray {
		background-color: $athens-gray;
	}
}

.main__title {
	@include fluid-type(rem(36), rem(64));

	margin: rem(20) auto;
	font-weight: $font-weight-primary;
	text-align: center;
}

.main__caption {
	@include visually-hidden;
}

.main__headline {
	@include fluid-type(rem(24), rem(64));

	margin: rem(14) 0 rem(45) 0;
	font-weight: $font-weight-primary;

	&--center {
		margin-top: rem(43);
		text-align: center;
	}
}

.main__content-wrap {
	&--narrow {
		p {
			color: $storm-gray;
		}
	}
}

@media screen and (min-width: rem($tablet-width)) {
	@import "tablet";
}

@media screen and (min-width: rem($laptop-width)) {
	@import "laptop";
}
