.main__wrapper {
	margin-right: rem(30);
	margin-left: rem(30);
	max-width: rem($wrapper);
	box-shadow: 0 0 rem(10) rgba($black, 0.15);
	background-color: $white;
}

.main__menu {
	position: relative;
	overflow: inherit;
}

.main__badge {
	position: absolute;
	right: rem(86);
	top: 0;
	z-index: 10;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: rem(34) rem(39) rem(33) rem(37);
	height: 100%; /* For IE 11 */
	min-height: rem(233);
	max-width: rem(297);
	color: $white;
	background-color: $bright-turquoise;
}

.main__join {
	font-weight: $font-weight-secondary;
	font-size: rem(24);
	text-decoration: none;
	text-transform: uppercase;
	color: currentColor;
}

.main__more {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	text-decoration: none;
	color: currentColor;
}

.main__more-icon {
	margin-right: rem(16);

	.main__more:hover & {
		animation: horizontal-sliding 1s cubic-bezier(0.4, 0, 1, 1);
	}
}

.main__caption {
	@include visually-visible;

	margin-bottom: rem(22);
	font-size: rem(18);
	color: $storm-gray;
}

.main__headline {
	&--small {
		margin-bottom: rem(27);
		font-size: rem(48);
	}
}
