+gallery({
	images: [
		{
			src: 'https://via.placeholder.com/320x206',
			srcset: [
				'https://via.placeholder.com/402x260',
				'https://via.placeholder.com/853x543'
			],
			width: 320,
			height: 206,
			alt: 'foto'
		},
		{
			src: 'https://via.placeholder.com/320x206',
			srcset: [
				'https://via.placeholder.com/402x260',
				'https://via.placeholder.com/853x543'
			],
			width: 320,
			height: 206,
			alt: 'foto'
		},
		{
			src: 'https://via.placeholder.com/320x206',
			srcset: [
				'https://via.placeholder.com/402x260',
				'https://via.placeholder.com/853x543'
			],
			width: 320,
			height: 206,
			alt: 'foto'
		},
		{
			src: 'https://via.placeholder.com/320x206',
			srcset: [
				'https://via.placeholder.com/402x260',
				'https://via.placeholder.com/853x543'
			],
			width: 320,
			height: 206,
			alt: 'foto'
		},
		{
			src: 'https://via.placeholder.com/320x206',
			srcset: [
				'https://via.placeholder.com/402x260',
				'https://via.placeholder.com/853x543'
			],
			width: 320,
			height: 206,
			alt: 'foto'
		},
		{
			src: 'https://via.placeholder.com/320x206',
			srcset: [
				'https://via.placeholder.com/402x260',
				'https://via.placeholder.com/853x543'
			],
			width: 320,
			height: 206,
			alt: 'foto'
		},
		{
			src: 'https://via.placeholder.com/320x206',
			srcset: [
				'https://via.placeholder.com/402x260',
				'https://via.placeholder.com/853x543'
			],
			width: 320,
			height: 206,
			alt: 'foto'
		}
	],
	headline: {
		tag: 'h2',
		text: 'Оригинальность, радость и&nbsp;свобода действий'
	},
	content: '<p>Yota&nbsp;&mdash; это виртуальный мобильный оператор нового поколения. Мы&nbsp;первыми '
		+ 'запустили российскую LTE, организовали доставку SIM–карт дронами и&nbsp;предложили '
		+ 'клиентам бесплатное общение в&nbsp;зарубежном роуминге. Компания началась '
		+ 'с&nbsp;трёх человек, которые решили сделать широкополосный мобильный безлимитный '
		+ 'интернет доступным каждому, а&nbsp;теперь нас больше тысячи. Мы&nbsp;меняем привычный '
		+ 'мир коммуникаций и&nbsp;используем современные разработки в&nbsp;повседневной жизни.</p>'
})
