+gallery([
	{
		src: 'https://via.placeholder.com/320x206',
		srcset: 'https://via.placeholder.com/402x260',
		width: 320,
		height: 206,
		alt: 'foto'
	},
	{
		src: 'https://via.placeholder.com/320x206',
		srcset: 'https://via.placeholder.com/402x260',
		width: 320,
		height: 206,
		alt: 'foto'
	},
	{
		src: 'https://via.placeholder.com/320x206',
		srcset: 'https://via.placeholder.com/853x543',
		width: 320,
		height: 206,
		alt: 'foto'
	},
	{
		src: 'https://via.placeholder.com/320x206',
		srcset: 'https://via.placeholder.com/402x260',
		width: 320,
		height: 206,
		alt: 'foto'
	},
	{
		src: 'https://via.placeholder.com/320x206',
		srcset: 'https://via.placeholder.com/402x260',
		width: 320,
		height: 206,
		alt: 'foto'
	},
	{
		src: 'https://via.placeholder.com/320x206',
		srcset: 'https://via.placeholder.com/853x543',
		width: 320,
		height: 206,
		alt: 'foto'
	},
	{
		src: 'https://via.placeholder.com/320x206',
		srcset: 'https://via.placeholder.com/853x543',
		width: 320,
		height: 206,
		alt: 'foto'
	}
])
