.intro
	include top-menu
	.intro__content
		h1.intro__headline
			| Yota
		p
			| Yota&nbsp;&mdash; четвёртый федеральный мобильный оператор
	a.intro__more-button(
		href="#"
	)
		| Все вакансии
		+svg("arrow-right")(class="intro__more-icon" width="35" height="21")

