main.main
	include intro
	include gallery
	section.main__content.main__content--brand-color
		h2.main__headline
			| Оригинальность, радость и свобода действий
		p
			| Yota&nbsp;&mdash; это виртуальный мобильный оператор нового поколения.
			| Мы&nbsp;первыми запустили российскую LTE, организовали доставку SIM-карт дронами
			| и&nbsp;предложили клиентам бесплатное общение в&nbsp;зарубежном роуминге.
			| Компания началась с&nbsp;трёх человек, которые решили сделать широкополосный мобильный
			| безлимитный интернет доступным каждому, а&nbsp;теперь нас больше тысячи.
			| Мы&nbsp;меняем привычный мир коммуникаций и&nbsp;используем современные разработки
			| в&nbsp;повседневной жизни.
	section.main__content
		h2.main__title
			| Сотрудники
		include staff-slider
		include video-slider
		include blockquote-slider
	section.main__media
		img.main__media-img(
			src="https://via.placeholder.com/288x198"
			width="288"
			height="198"
			alt="foto"
		)
		h2.main__media-headline
			| Больше, чем оператор
		p
			| Мы выходим за рамки привычного телекома и стараемся улучшить все сферы жизни клиента.
			| Например, мы запустили #Yotafutureproof — серию экспериментов, в которых мы открыто тестируем
			| инновационные технологии в реальных условиях и оцениваем их эффективность для бизнеса.
			| Благодаря этому сервису клиент может побывать в нашем виртуальном офисе, заказать 3D печать для модема
			| из частиц настоящего метеорита или получить сим-карту, доставленную квадрокоптером.
