include top-menu
include intro
main.main
	+gallery([
		{src: 'https://via.placeholder.com/320x206', width: 320, height: 206, alt: ''},
		{src: 'https://via.placeholder.com/320x206', width: 320, height: 206, alt: ''}
	])(class="owl-carousel")

