include intro
main.main
	+gallery([
		{src: 'https://via.placeholder.com/320x206', width: 320, height: 206, alt: ''},
		{src: 'https://via.placeholder.com/320x206', width: 320, height: 206, alt: ''},
		{src: 'https://via.placeholder.com/320x206', width: 320, height: 206, alt: ''},
		{src: 'https://via.placeholder.com/320x206', width: 320, height: 206, alt: ''},
		{src: 'https://via.placeholder.com/320x206', width: 320, height: 206, alt: ''},
		{src: 'https://via.placeholder.com/320x206', width: 320, height: 206, alt: ''},
		{src: 'https://via.placeholder.com/320x206', width: 320, height: 206, alt: ''}
	])(class="owl-carousel")
	.main__content.main__content--brand-color
		p.main__headline
			| Оригинальность, радость и свобода действий
		p
			| Yota&nbsp;&mdash; это виртуальный мобильный оператор нового поколения.
			| Мы&nbsp;первыми запустили российскую LTE, организовали доставку SIM-карт дронами
			| и&nbsp;предложили клиентам бесплатное общение в&nbsp;зарубежном роуминге.
			| Компания началась с&nbsp;трёх человек, которые решили сделать широкополосный мобильный
			| безлимитный интернет доступным каждому, а&nbsp;теперь нас больше тысячи.
			| Мы&nbsp;меняем привычный мир коммуникаций и&nbsp;используем современные разработки
			| в&nbsp;повседневной жизни.

