include intro
main.main
	include gallery
	section.main__content.main__content--brand-color
		h2.main__headline
			| Оригинальность, радость и свобода действий
		p
			| Yota&nbsp;&mdash; это виртуальный мобильный оператор нового поколения.
			| Мы&nbsp;первыми запустили российскую LTE, организовали доставку SIM-карт дронами
			| и&nbsp;предложили клиентам бесплатное общение в&nbsp;зарубежном роуминге.
			| Компания началась с&nbsp;трёх человек, которые решили сделать широкополосный мобильный
			| безлимитный интернет доступным каждому, а&nbsp;теперь нас больше тысячи.
			| Мы&nbsp;меняем привычный мир коммуникаций и&nbsp;используем современные разработки
			| в&nbsp;повседневной жизни.
	section.main__content
		h2.main__title
			| Сотрудники
		include staff-slider
		include video-slider
