.top-menu
	ul.top-menu__list
		li.top-menu__item
			a.top-menu__link.top-menu__link--active(
			href="#about"
			)
				| О компании
		li.top-menu__item
			a.top-menu__link(
			href="#office"
			)
				| Офис
		li.top-menu__item
			a.top-menu__link(
			href="#people"
			)
				| Люди
		li.top-menu__item
			a.top-menu__link(
			href="#vacancies"
			)
				| Вакансии
				span.top-menu__count.basic-hidden
					| 9
