+videoSlider([
	{
		href: 'https://www.youtube.com/embed/-K66u204txg?rel=0&amp;controls=0',
		headline: {
			tag: 'p',
			text: 'Видео'
		},
		description: 'Кейс - интервью в команду поддержки'
	},
	{
		href: 'https://www.youtube.com/embed/-K66u204txg?rel=0&amp;controls=0',
		headline: {
			tag: 'p',
			text: 'Видео'
		},
		description: 'Мы любим то, что делаем'
	},
	{
		href: 'https://www.youtube.com/embed/-K66u204txg?rel=0&amp;controls=0',
		headline: {
			tag: 'p',
			text: 'Видео'
		},
		description: 'Кейс - интервью в команду поддержки'
	},
	{
		href: 'https://www.youtube.com/embed/-K66u204txg?rel=0&amp;controls=0',
		headline: {
			tag: 'p',
			text: 'Видео'
		},
		description: 'Мы любим то, что делаем'
	}
])
