// - Mixin: Fluid Type
/// @group typography
/// @param {variable} $min-font-size [14px] - Minimum font size
/// @param {variable} $max-font-size [18px] - Maximum font size
/// @param {variable} $min-vw [320px] - Stop scaling font smaller at this screen resolution
/// @param {variable} $max-vw [992px] - Stop scaling font larger at this screen resolution
/// @example
///   h1 {
///     @include fluid-type(20px, 48px);
///   }

@mixin fluid-type($min-font-size: rem(14), $max-font-size: rem(18), $min-vw: rem(320), $max-vw: rem(992)) {
	$u1: unit($min-vw);
	$u2: unit($max-vw);
	$u3: unit($min-font-size);
	$u4: unit($max-font-size);

	@if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
		& {
			font-size: $min-font-size;

			@media screen and (min-width: $min-vw) {
				font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
			}

			@media screen and (min-width: $max-vw) {
				font-size: $max-font-size;
			}
		}
	}
}
