include mixins/svg
include mixins/search-result
include mixins/job
include mixins/company
include mixins/gallery
include mixins/staff-slider
include mixins/video-slider
include mixins/blockquote-slider
include mixins/pagination
include mixins/socials
