@media screen and (min-width: rem($tablet-width)) {
	.footer {
		flex-direction: row;
		align-items: flex-end;
		margin: rem(78) 0;
		padding: 0 rem(48);
	}

	.footer__logo {
		flex: 1 0 rem(197);
		margin-bottom: 0;
		width: rem(197);
		height: rem(57);
	}
}
