+socials([
	{
		modifier: 'tg',
		href: 'tg://resolve?domain=',
		name: 'Telegram',
		title: ''
	},
	{
		modifier: 'tw',
		href: '//twitter.com/',
		name: 'Twitter',
		title: ''
	},
	{
		modifier: 'instagram',
		href: '//instagram.com/',
		name: 'Instagram',
		title: ''
	},
	{
		modifier: 'fb',
		href: '//fb.com/',
		name: 'Facebook',
		title: ''
	},
	{
		modifier: 'linkedin',
		href: '//linkedin.com/',
		name: 'Linkedin',
		title: ''
	}
])
