//-
	@example

	```
	+searchResult({
		wrapper: 'h1',
		quantity: '298<br>',
		result: 'предложений',
		resultSingular: 'вакансию'
	})(class="headline")
	```

mixin searchResult(options)
	#{options.wrapper}&attributes(attributes)
		| Мы нашли
		|
		span.important
			| !{options.quantity}
		|
		| !{options.result} для вас
		br
		| найдите !{options.resultSingular} по душе
