.header {
	margin-bottom: 0;
	border-bottom: rem(1) solid $raven;
	padding: rem(24) rem(16);
	background-color: $white;
}

.header__wrapper {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	width: 100%;
	max-width: rem($wrapper);
}

.header__controls {
	flex-basis: 16.55556%;
	margin-bottom: 0;
	padding: 0;
}

.header__logo {
	margin-right: rem(33);
	width: rem(197);
	height: rem(57);
}

.header__toggle {
	@include visually-hidden;
}

.header__account {
	@include visually-hidden;
}

.header__search-form {
	@include visually-hidden;
}

.header__navigation {
	display: flex;
	flex-basis: 83.44444%;
	flex-flow: row wrap;
	align-items: center;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	padding-right: 0;
}
