@media screen and (min-width: rem($tablet-width)) {
	.announcement {
		display: block;
		color: $white;
		background-color: $dodger-blue;
	}

	.announcement__wrap {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: rem(18) auto rem(30) auto;
		padding: rem(83) 0 rem(98) 0;
		max-width: rem(1344);
		background-image: url("../images/announcement.svg");
		background-position: 50% 50%;
		background-size: contain;
		background-repeat: no-repeat;
	}

	.announcement__title {
		@include fluid-type(rem(18), rem(36));

		margin: rem(11) 0 rem(36) 0;
	}

	.announcement__description {
		// -
	}

	.announcement__controls {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		margin: 0;

		span {
			margin-right: rem(11);
		}
	}

	.announcement__link {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: rem(11);
		border: rem(1) solid $cornflower-blue;
		border-radius: rem(6);
		padding: 0 rem(16);
		min-width: rem(212);
		min-height: rem(71);
		text-align: center;
		text-decoration: none;
		color: currentColor;
		background-color: rgba($cornflower-blue, 0.5);

		&:last-of-type {
			margin-right: 0;
		}
	}
}
