@media screen and (min-width: rem($tablet-width)) {
	.intro {
		display: flex;
		flex-flow: row wrap;
		margin-bottom: rem(64);
		padding: rem(56) rem(48) 0 rem(48);
	}

	.intro__search-result {
		flex: 1 0 50%;
		padding: 0;
	}

	.intro__search-form {
		display: flex;
		flex: 1 0 50%;
		align-items: center;
		justify-content: flex-end;
	}
}
