@media screen and (min-width: rem($tablet-width)) {
	.main {
		background-color: $athens-gray;
	}

	.main__catalog {
		display: flex;
		flex-direction: row;
		margin: 0 auto;
		max-width: rem(1344);
	}
}
