.announcement {
	display: block;
	text-align: center;
	color: $white;
	background-color: $dodger-blue;
}

.announcement__wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: rem(16);
	background-image: url("../images/announcement.svg");
	background-position: 0 0;
	background-size: cover;
	background-repeat: no-repeat;
}

.announcement__title {
	@include fluid-type(rem(18), rem(36));

	margin: rem(11) 0;
}

.announcement__controls {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin: 0;

	span:not(.announcement__text) {
		margin-right: rem(11);
	}
}

.announcement__link {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: rem(11);
	border: rem(1) solid $cornflower-blue;
	border-radius: rem(6);
	padding: 0 rem(16);
	min-width: rem(212);
	min-height: rem(36);
	text-align: center;
	text-decoration: none;
	color: currentColor;
	background-color: rgba($cornflower-blue, 0.5);

	/* For IE 11 */
	&::after {
		content: "";
		min-height: inherit;
		font-size: 0;
	}

	/* For IE 11 */
	.is-browser-ie & {
		height: rem(36);
	}
}

.announcement__text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;

	/* For IE 11 */
	&::after {
		content: "";
		min-height: inherit;
		font-size: 0;
	}
}

@media screen and (min-width: rem($tablet-width)) {
	@import "tablet";
}

@media screen and (min-width: rem($laptop-width)) {
	@import "laptop";
}
