.announcement {
	padding: 0 rem(16) 0 rem(16);
	text-align: left;
}

.announcement__wrap {
	flex-direction: row;
	justify-content: space-between;
	margin: rem(18) auto 0 auto;
	padding: rem(83) 0 rem(98) 0;
	max-width: rem($wrapper);
	background-position: 50% 50%;
	background-size: contain;
}

.announcement__title {
	margin-bottom: rem(36);
}

.announcement__link {
	margin-right: rem(11);
	min-height: rem(71);

	&:last-of-type {
		margin-right: 0;
	}
}
