.intro {
	background-color: $athens-gray;
}

.intro__content {
	margin: 0 auto rem(35) auto;
	padding: 0 rem(21);
	max-width: rem($basic-wrapper);
	font-size: rem(18);
	color: $prussian-blue;

	p {
		margin-top: 0;
	}
}

.intro__headline {
	margin-bottom: rem(10);
	font-weight: $font-weight-primary;
	font-size: rem(36);
	text-align: left;
	color: $cerulean;
}

.intro__more-button {
	@include ripple-effect($dodger-blue, $prussian-blue);

	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	padding: rem(16);
	min-height: rem(70);
	max-width: rem(260);
	font-weight: $font-weight-secondary;
	font-size: rem(18);
	text-decoration: none;
	color: $white;
	background-color: $dodger-blue;
}

.intro__more-icon {
	margin: 0 0 0 rem(5);

	.intro__more-button:hover & {
		animation: horizontal-sliding 1s cubic-bezier(0.4, 0, 1, 1);
	}
}

.intro__controls {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	padding: rem(34) 0 rem(54) 0;
	width: 100%;
	max-width: 86.875%;
	background-color: $athens-gray;
}

.intro__logo {
	width: auto;
}

.intro__share {
	border: 0;
	padding: 0;
	background: none;
}

.intro__share-icon {
	fill: none;
}

@media screen and (min-width: rem($tablet-width)) {
	@import "tablet";
}
