+blockquoteSlider([
	{
		quote: '<p>Присоединиться к компании —&nbsp;легко и&nbsp;просто: тебя уже ждет рабочее место,<br> ноутбук, '
			+ 'yotabag со всем необходимым и дружный коллектив</p>',
		author: 'Оля',
		position: 'Старший специалист административного департамента'
	},
	{
		quote: '<p>Когда я работаю с данными или составляю техническое задание, всегда понимаю,<br> '
			+ 'для кого мы работаем. Наш результат для людей и про людей</p>',
		author: 'Лена',
		position: 'Менеджер по развитию собственной розницы'
	}
])
