+blockquoteSlider([
	{
		quote: '<p>Присоединиться к компании — легко и просто: тебя уже ждет рабочее место, ноутбук, yotabag'
			+ ' со всем необходимым и дружный коллектив</p>',
		author: 'Оля'
	},
	{
		quote: '<p>Присоединиться к компании — легко и просто: тебя уже ждет рабочее место, ноутбук, yotabag'
			+ ' со всем необходимым и дружный коллектив</p>',
		author: 'Оля'
	}
])
