figure.media.media--gray
	img.media__img(
		src="https://via.placeholder.com/288x198"
		width="288"
		height="198"
		alt="foto"
	)
	figcaption.media__caption
		h2.media__headline
			| Без границ
		p
			| Границы существуют только в головах! Если у вас есть идея, в которую верите, вы получите все необходимые
			| инструменты и зону ответственности, #[br] где сможете её реализовать. У нас нет понятий «коллега»
			| и «начальник» #[br] — мы все друзья: можно подойти к каждому, обратиться по имени и задать вопрос.
			| Здесь должностные инструкции играют роль памятки и шпаргалки #[br] на первых порах, а не строгих предписаний.
			| Для нас главное результат, а путь его достижения ты выбираешь сам.
