+staffSlider([
	{
		img: {
			src: 'https://via.placeholder.com/226x314',
			srcset: 'https://via.placeholder.com/404x562',
			width: 226,
			height: 314,
			alt: 'foto'
		},
		title: {
			tag: 'p',
			text: 'Аня'
		},
		description: 'Руководитель обслуживания клиентов'
	},
	{
		img: {
			src: 'https://via.placeholder.com/226x314',
			srcset: 'https://via.placeholder.com/404x562',
			width: 226,
			height: 314,
			alt: 'foto'
		},
		title: {
			tag: 'p',
			text: 'Артемий'
		},
		description: 'Директор направления “Смартфон”'
	},
	{
		img: {
			src: 'https://via.placeholder.com/226x314',
			srcset: 'https://via.placeholder.com/404x562',
			width: 226,
			height: 314,
			alt: 'foto'
		},
		title: {
			tag: 'p',
			text: 'Лена'
		},
		description: 'Менеджер по развитию розничной сети'
	},
	{
		img: {
			src: 'https://via.placeholder.com/226x314',
			srcset: 'https://via.placeholder.com/404x562',
			width: 226,
			height: 314,
			alt: 'foto'
		},
		title: {
			tag: 'p',
			text: 'Аня'
		},
		description: 'Руководитель обслуживания клиентов'
	},
	{
		img: {
			src: 'https://via.placeholder.com/226x314',
			srcset: 'https://via.placeholder.com/404x562',
			width: 226,
			height: 314,
			alt: 'foto'
		},
		title: {
			tag: 'p',
			text: 'Артемий'
		},
		description: 'Директор направления “Смартфон”'
	},
	{
		img: {
			src: 'https://via.placeholder.com/226x314',
			srcset: 'https://via.placeholder.com/404x562',
			width: 226,
			height: 314,
			alt: 'foto'
		},
		title: {
			tag: 'p',
			text: 'Лена'
		},
		description: 'Менеджер по развитию розничной сети'
	}
])
