.top-controls
	a.top-controls__backward(
		href="#"
		arial-label="Вернуться назад"
	)
		+svg("arrow-back")(class="top-controls__backward-icon" width="25" height="18")
	.top-controls__logo.top-controls__logo--yota
	button.top-controls__share(
		type="button"
		aria-label="Поделиться"
	)
		+svg("share")(class="top-controls__share-icon" width="24" height="28")
