+videoSlider([
	{
		id: '-K66u204txg',
		headline: {
			tag: 'p',
			text: 'Видео'
		},
		description: 'Кейс - интервью в команду поддержки'
	},
	{
		id: '-K66u204txg',
		headline: {
			tag: 'p',
			text: 'Видео'
		},
		description: 'Мы любим то, что делаем'
	},
	{
		id: '-K66u204txg',
		headline: {
			tag: 'p',
			text: 'Видео'
		},
		description: 'Кейс - интервью в команду поддержки'
	},
	{
		id: '-K66u204txg',
		headline: {
			tag: 'p',
			text: 'Видео'
		},
		description: 'Мы любим то, что делаем'
	}
])
