.search__label {
	position: relative;
}

.search__title {
	@include transition;

	position: absolute;
	left: 0;
	top: 0;
	font-weight: $font-weight-secondary;
	font-size: rem(18);
	color: $boulder;

	.js-hasvalue ~ &,
	.search__field:focus ~ & {
		background-color: $white;
		transform: translate(-10%, -75%) scale(0.75);
	}
}
