.blockquote-slider {
	flex: 1 1 50%;
	margin: 0;
	padding: 0;
	max-width: 50%;

	.owl-item {
		padding: rem(10);
	}
}

.blockquote-slider__item {
	margin: 0 auto;
	padding: rem(162) rem(33) rem(1) rem(48);
	max-width: rem(424);
	text-align: left;

	&::before {
		left: rem(49);
	}

	p {
		margin: rem(18) 0;
	}
}

.blockquote-slider__author {
	margin-top: 0;
	line-height: 1.45;
}

.blockquote-slider__position {
	@include visually-visible;
	@include fluid-type(rem(14), rem(18));

	display: inline-block;
	color: $dove-gray;
}
