.top-menu {
	justify-content: flex-end;
	margin-right: rem(184);
	margin-bottom: rem(35);
	margin-left: rem(184);
	border-bottom: rem(1) solid $gallery;
	padding-top: rem(34);
	padding-right: rem(199);
}

.top-menu__list {
	justify-content: flex-start;
	margin-right: rem(93);
	border-bottom: none;
	padding-bottom: rem(18);
	width: auto;
	color: $raven;
}

.top-menu__item {
	margin-right: rem(46);
	margin-bottom: rem(16);
}

.top-menu__link {
	position: relative;
	padding-bottom: 0;
	font-weight: $font-weight-secondary;

	&::after {
		background-color: $dodger-blue;
	}

	&--active {
		color: currentColor;

		&::after {
			left: 0;
			width: 100%;
			height: rem(2);
			opacity: 1;
		}
	}
}

.top-menu__count {
	position: absolute;
	top: 50%;
	display: inline-block;
	margin: 0 rem(8);
	border: rem(1) solid $silver-sand;
	border-radius: rem(21);
	padding: rem(1) rem(3);
	min-width: rem(21);
	min-height: rem(21);
	font-size: rem(14);
	text-align: center;
	color: $silver-sand;
	transform: translateY(-50%);
}
