.header {
	display: flex;
	flex-direction: column;
}

.header__controls {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	padding: rem(11) rem(21);
}

.header__toggle {
	position: relative;
	width: rem(22);
}

.header__account {
	position: relative;
	display: inline-block;
	width: rem(22);

	&::before {
		@include sprite("person");

		content: "";
	}
}

.header__search-form {
	margin: 0 0 rem(22) 0;
	padding: rem(11);
}

.header__navigation {
	margin: rem(23) rem(21) rem(19) rem(21);
	max-height: rem(10000);
	opacity: 1;
	transition: all 0.8s ease-out;

	&--closed {
		overflow: hidden;
		margin: 0;
		max-height: 0;
		opacity: 0;
		transition: all 0.8s ease-out;
	}
}
