.header {
	display: flex;
	flex-direction: column;
	margin-bottom: rem(19);
}

.header__controls {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 0 0 rem(23) 0;
	padding: rem(11) rem(21);
}

.header__toggle {
	position: relative;
	width: rem(22);
}

.header__account {
	position: relative;
	display: inline-block;
	width: rem(22);

	&::before {
		@include sprite("person");

		content: "";
	}
}

.header__search-form {
	margin: 0 0 rem(22) 0;
	padding: rem(11) rem(33) rem(11) rem(33);
}

.header__navigation {
	padding: 0 rem(21);
}
