.navigation__list {
	@include unstyle-list;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0;
	font-weight: $font-weight-secondary;
	font-size: rem(18);
	color: $aluminium;
}

.navigation__item {
	margin-bottom: rem(16);
}

.navigation__link {
	text-decoration: none;
	color: currentColor;

	&--active {
		color: $black;
	}
}
