extends pug/base

append vars
	- html.classList.push('page page--about')
	- page = 'about'
	- title = 'О компании'
	include pug/common/variables
	include pug/common/head/links
	include pug/common/head/metatags

block content
	include pug/common/header/header
	include pug/about/main
	include pug/common/footer/footer
