extends pug/base

append vars
	- html.classList.push('page page--companies')
	- page = 'companies'
	- title = 'Список компаний'
	include pug/common/head/links
	include pug/common/head/metatags

block content
	include pug/common/header/header
	include pug/companies/main
	include pug/common/footer/footer
