extends pug/base

append vars
	- html.classList.push('page page--index')
	- page = 'index'
	- title = 'Главная страница'
	include pug/common/variables
	include pug/common/head/links
	include pug/common/head/metatags

block content
	include pug/common/header/header
	include pug/index/main
	include pug/common/footer/footer
