:root {
	font-size: $root-font-size;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	@include fluid-type;

	margin: 0;
	padding: 0;
	width: auto;
	height: 100%;
	max-width: 100%;
}

html {
	box-sizing: border-box;
	font-family: $font-family-primary;
	line-height: $line-height-primary;
	color: $black;
}

img {
	display: block;
	width: 100%;
	height: auto;
	max-width: 100%;
}

p:empty {
	margin: 0;
}

a,
input[type="button"],
button {
	transition: opacity 0.3s cubic-bezier(0.4, 0, 1, 1);
}

input,
a {
	// stylelint-disable declaration-no-important
	outline-style:none !important;
}

:focus {
	outline: 0;
}

a:hover,
input[type="button"]:hover,
button:hover {
	opacity: 0.75;
}

a:active,
input[type="button"]:active,
button:active {
	opacity: 0.6;
}

[src="images/preloader.svg"],
[src="images/placeholder.svg"],
[src="images/placeholder.gif"],
[src="images/sprites/svg/placeholder.svg"] {
	// stylelint-disable declaration-no-important
	background-color: $selago;
	object-fit: contain !important;
}

[src="images/placeholder.gif"] {
	background-image: url("../images/preloader.svg");
	background-position: 50% 50%;
	background-size: rem(64) rem(64);
	background-repeat: no-repeat;
	background-color: $selago;
}
