$sprites: (
	"adidas-tablet": (
		normal: (
			x: 54,
			y: 0,
			width: 93,
			height: 42,
			image: "sprites.png",
			total_width: 311,
			total_height: 262,
		),
		retina: (
			x: 108,
			y: 0,
			width: 186,
			height: 84,
			image: "sprites@2x.png",
			total_width: 622,
			total_height: 524,
		),
	),
	"adidas": (
		normal: (
			x: 0,
			y: 202,
			width: 64,
			height: 29,
			image: "sprites.png",
			total_width: 311,
			total_height: 262,
		),
		retina: (
			x: 0,
			y: 404,
			width: 128,
			height: 58,
			image: "sprites@2x.png",
			total_width: 622,
			total_height: 524,
		),
	),
	"bosh-tablet": (
		normal: (
			x: 54,
			y: 44,
			width: 93,
			height: 42,
			image: "sprites.png",
			total_width: 311,
			total_height: 262,
		),
		retina: (
			x: 108,
			y: 88,
			width: 186,
			height: 84,
			image: "sprites@2x.png",
			total_width: 622,
			total_height: 524,
		),
	),
	"bosh": (
		normal: (
			x: 66,
			y: 202,
			width: 64,
			height: 29,
			image: "sprites.png",
			total_width: 311,
			total_height: 262,
		),
		retina: (
			x: 132,
			y: 404,
			width: 128,
			height: 58,
			image: "sprites@2x.png",
			total_width: 622,
			total_height: 524,
		),
	),
	"chevron": (
		normal: (
			x: 279,
			y: 92,
			width: 11,
			height: 10,
			image: "sprites.png",
			total_width: 311,
			total_height: 262,
		),
		retina: (
			x: 558,
			y: 184,
			width: 22,
			height: 20,
			image: "sprites@2x.png",
			total_width: 622,
			total_height: 524,
		),
	),
	"facebook": (
		normal: (
			x: 244,
			y: 146,
			width: 32,
			height: 32,
			image: "sprites.png",
			total_width: 311,
			total_height: 262,
		),
		retina: (
			x: 488,
			y: 292,
			width: 64,
			height: 64,
			image: "sprites@2x.png",
			total_width: 622,
			total_height: 524,
		),
	),
	"gfk-tablet": (
		normal: (
			x: 149,
			y: 0,
			width: 93,
			height: 42,
			image: "sprites.png",
			total_width: 311,
			total_height: 262,
		),
		retina: (
			x: 298,
			y: 0,
			width: 186,
			height: 84,
			image: "sprites@2x.png",
			total_width: 622,
			total_height: 524,
		),
	),
	"gfk": (
		normal: (
			x: 132,
			y: 202,
			width: 64,
			height: 29,
			image: "sprites.png",
			total_width: 311,
			total_height: 262,
		),
		retina: (
			x: 264,
			y: 404,
			width: 128,
			height: 58,
			image: "sprites@2x.png",
			total_width: 622,
			total_height: 524,
		),
	),
	"instagram": (
		normal: (
			x: 190,
			y: 114,
			width: 32,
			height: 32,
			image: "sprites.png",
			total_width: 311,
			total_height: 262,
		),
		retina: (
			x: 380,
			y: 228,
			width: 64,
			height: 64,
			image: "sprites@2x.png",
			total_width: 622,
			total_height: 524,
		),
	),
	"jti-tablet": (
		normal: (
			x: 149,
			y: 44,
			width: 93,
			height: 42,
			image: "sprites.png",
			total_width: 311,
			total_height: 262,
		),
		retina: (
			x: 298,
			y: 88,
			width: 186,
			height: 84,
			image: "sprites@2x.png",
			total_width: 622,
			total_height: 524,
		),
	),
	"jti": (
		normal: (
			x: 198,
			y: 202,
			width: 64,
			height: 29,
			image: "sprites.png",
			total_width: 311,
			total_height: 262,
		),
		retina: (
			x: 396,
			y: 404,
			width: 128,
			height: 58,
			image: "sprites@2x.png",
			total_width: 622,
			total_height: 524,
		),
	),
	"linkedin": (
		normal: (
			x: 190,
			y: 158,
			width: 32,
			height: 32,
			image: "sprites.png",
			total_width: 311,
			total_height: 262,
		),
		retina: (
			x: 380,
			y: 316,
			width: 64,
			height: 64,
			image: "sprites@2x.png",
			total_width: 622,
			total_height: 524,
		),
	),
	"mamba-tablet": (
		normal: (
			x: 0,
			y: 114,
			width: 93,
			height: 42,
			image: "sprites.png",
			total_width: 311,
			total_height: 262,
		),
		retina: (
			x: 0,
			y: 228,
			width: 186,
			height: 84,
			image: "sprites@2x.png",
			total_width: 622,
			total_height: 524,
		),
	),
	"mamba": (
		normal: (
			x: 0,
			y: 233,
			width: 64,
			height: 29,
			image: "sprites.png",
			total_width: 311,
			total_height: 262,
		),
		retina: (
			x: 0,
			y: 466,
			width: 128,
			height: 58,
			image: "sprites@2x.png",
			total_width: 622,
			total_height: 524,
		),
	),
	"megafon-tablet": (
		normal: (
			x: 95,
			y: 114,
			width: 93,
			height: 42,
			image: "sprites.png",
			total_width: 311,
			total_height: 262,
		),
		retina: (
			x: 190,
			y: 228,
			width: 186,
			height: 84,
			image: "sprites@2x.png",
			total_width: 622,
			total_height: 524,
		),
	),
	"megafon": (
		normal: (
			x: 66,
			y: 233,
			width: 64,
			height: 29,
			image: "sprites.png",
			total_width: 311,
			total_height: 262,
		),
		retina: (
			x: 132,
			y: 466,
			width: 128,
			height: 58,
			image: "sprites@2x.png",
			total_width: 622,
			total_height: 524,
		),
	),
	"person": (
		normal: (
			x: 279,
			y: 68,
			width: 22,
			height: 22,
			image: "sprites.png",
			total_width: 311,
			total_height: 262,
		),
		retina: (
			x: 558,
			y: 136,
			width: 44,
			height: 44,
			image: "sprites@2x.png",
			total_width: 622,
			total_height: 524,
		),
	),
	"telegram": (
		normal: (
			x: 279,
			y: 0,
			width: 32,
			height: 32,
			image: "sprites.png",
			total_width: 311,
			total_height: 262,
		),
		retina: (
			x: 558,
			y: 0,
			width: 64,
			height: 64,
			image: "sprites@2x.png",
			total_width: 622,
			total_height: 524,
		),
	),
	"twitter": (
		normal: (
			x: 279,
			y: 34,
			width: 32,
			height: 32,
			image: "sprites.png",
			total_width: 311,
			total_height: 262,
		),
		retina: (
			x: 558,
			y: 68,
			width: 64,
			height: 64,
			image: "sprites@2x.png",
			total_width: 622,
			total_height: 524,
		),
	),
	"uniqlo-tablet": (
		normal: (
			x: 0,
			y: 158,
			width: 93,
			height: 42,
			image: "sprites.png",
			total_width: 311,
			total_height: 262,
		),
		retina: (
			x: 0,
			y: 316,
			width: 186,
			height: 84,
			image: "sprites@2x.png",
			total_width: 622,
			total_height: 524,
		),
	),
	"uniqlo": (
		normal: (
			x: 132,
			y: 233,
			width: 64,
			height: 29,
			image: "sprites.png",
			total_width: 311,
			total_height: 262,
		),
		retina: (
			x: 264,
			y: 466,
			width: 128,
			height: 58,
			image: "sprites@2x.png",
			total_width: 622,
			total_height: 524,
		),
	),
	"yota-big": (
		normal: (
			x: 244,
			y: 0,
			width: 33,
			height: 71,
			image: "sprites.png",
			total_width: 311,
			total_height: 262,
		),
		retina: (
			x: 488,
			y: 0,
			width: 66,
			height: 142,
			image: "sprites@2x.png",
			total_width: 622,
			total_height: 524,
		),
	),
	"yota-details-big": (
		normal: (
			x: 0,
			y: 0,
			width: 52,
			height: 112,
			image: "sprites.png",
			total_width: 311,
			total_height: 262,
		),
		retina: (
			x: 0,
			y: 0,
			width: 104,
			height: 224,
			image: "sprites@2x.png",
			total_width: 622,
			total_height: 524,
		),
	),
	"yota-details": (
		normal: (
			x: 244,
			y: 73,
			width: 33,
			height: 71,
			image: "sprites.png",
			total_width: 311,
			total_height: 262,
		),
		retina: (
			x: 488,
			y: 146,
			width: 66,
			height: 142,
			image: "sprites@2x.png",
			total_width: 622,
			total_height: 524,
		),
	),
	"yota-tablet": (
		normal: (
			x: 95,
			y: 158,
			width: 93,
			height: 42,
			image: "sprites.png",
			total_width: 311,
			total_height: 262,
		),
		retina: (
			x: 190,
			y: 316,
			width: 186,
			height: 84,
			image: "sprites@2x.png",
			total_width: 622,
			total_height: 524,
		),
	),
	"yota": (
		normal: (
			x: 198,
			y: 233,
			width: 64,
			height: 29,
			image: "sprites.png",
			total_width: 311,
			total_height: 262,
		),
		retina: (
			x: 396,
			y: 466,
			width: 128,
			height: 58,
			image: "sprites@2x.png",
			total_width: 622,
			total_height: 524,
		),
	),
);

@each $name in map-keys($sprites) {
	.sprite-#{$name} {
		@include sprite($name);
	}
}
