$sprites: (
	"adidas-tablet": (
		normal: (
			x: 0,
			y: 0,
			width: 93,
			height: 42,
			image: "sprites.png",
			total_width: 289,
			total_height: 239,
		),
		retina: (
			x: 0,
			y: 0,
			width: 186,
			height: 84,
			image: "sprites@2x.png",
			total_width: 578,
			total_height: 478,
		),
	),
	"adidas": (
		normal: (
			x: 0,
			y: 176,
			width: 64,
			height: 29,
			image: "sprites.png",
			total_width: 289,
			total_height: 239,
		),
		retina: (
			x: 0,
			y: 352,
			width: 128,
			height: 58,
			image: "sprites@2x.png",
			total_width: 578,
			total_height: 478,
		),
	),
	"bosh-tablet": (
		normal: (
			x: 0,
			y: 44,
			width: 93,
			height: 42,
			image: "sprites.png",
			total_width: 289,
			total_height: 239,
		),
		retina: (
			x: 0,
			y: 88,
			width: 186,
			height: 84,
			image: "sprites@2x.png",
			total_width: 578,
			total_height: 478,
		),
	),
	"bosh": (
		normal: (
			x: 66,
			y: 176,
			width: 64,
			height: 29,
			image: "sprites.png",
			total_width: 289,
			total_height: 239,
		),
		retina: (
			x: 132,
			y: 352,
			width: 128,
			height: 58,
			image: "sprites@2x.png",
			total_width: 578,
			total_height: 478,
		),
	),
	"chevron": (
		normal: (
			x: 225,
			y: 189,
			width: 11,
			height: 10,
			image: "sprites.png",
			total_width: 289,
			total_height: 239,
		),
		retina: (
			x: 450,
			y: 378,
			width: 22,
			height: 20,
			image: "sprites@2x.png",
			total_width: 578,
			total_height: 478,
		),
	),
	"facebook": (
		normal: (
			x: 225,
			y: 155,
			width: 32,
			height: 32,
			image: "sprites.png",
			total_width: 289,
			total_height: 239,
		),
		retina: (
			x: 450,
			y: 310,
			width: 64,
			height: 64,
			image: "sprites@2x.png",
			total_width: 578,
			total_height: 478,
		),
	),
	"gfk-tablet": (
		normal: (
			x: 95,
			y: 0,
			width: 93,
			height: 42,
			image: "sprites.png",
			total_width: 289,
			total_height: 239,
		),
		retina: (
			x: 190,
			y: 0,
			width: 186,
			height: 84,
			image: "sprites@2x.png",
			total_width: 578,
			total_height: 478,
		),
	),
	"gfk": (
		normal: (
			x: 132,
			y: 176,
			width: 64,
			height: 29,
			image: "sprites.png",
			total_width: 289,
			total_height: 239,
		),
		retina: (
			x: 264,
			y: 352,
			width: 128,
			height: 58,
			image: "sprites@2x.png",
			total_width: 578,
			total_height: 478,
		),
	),
	"instagram": (
		normal: (
			x: 190,
			y: 73,
			width: 32,
			height: 32,
			image: "sprites.png",
			total_width: 289,
			total_height: 239,
		),
		retina: (
			x: 380,
			y: 146,
			width: 64,
			height: 64,
			image: "sprites@2x.png",
			total_width: 578,
			total_height: 478,
		),
	),
	"jti-tablet": (
		normal: (
			x: 95,
			y: 44,
			width: 93,
			height: 42,
			image: "sprites.png",
			total_width: 289,
			total_height: 239,
		),
		retina: (
			x: 190,
			y: 88,
			width: 186,
			height: 84,
			image: "sprites@2x.png",
			total_width: 578,
			total_height: 478,
		),
	),
	"jti": (
		normal: (
			x: 225,
			y: 0,
			width: 64,
			height: 29,
			image: "sprites.png",
			total_width: 289,
			total_height: 239,
		),
		retina: (
			x: 450,
			y: 0,
			width: 128,
			height: 58,
			image: "sprites@2x.png",
			total_width: 578,
			total_height: 478,
		),
	),
	"linkedin": (
		normal: (
			x: 190,
			y: 107,
			width: 32,
			height: 32,
			image: "sprites.png",
			total_width: 289,
			total_height: 239,
		),
		retina: (
			x: 380,
			y: 214,
			width: 64,
			height: 64,
			image: "sprites@2x.png",
			total_width: 578,
			total_height: 478,
		),
	),
	"mamba-tablet": (
		normal: (
			x: 0,
			y: 88,
			width: 93,
			height: 42,
			image: "sprites.png",
			total_width: 289,
			total_height: 239,
		),
		retina: (
			x: 0,
			y: 176,
			width: 186,
			height: 84,
			image: "sprites@2x.png",
			total_width: 578,
			total_height: 478,
		),
	),
	"mamba": (
		normal: (
			x: 225,
			y: 31,
			width: 64,
			height: 29,
			image: "sprites.png",
			total_width: 289,
			total_height: 239,
		),
		retina: (
			x: 450,
			y: 62,
			width: 128,
			height: 58,
			image: "sprites@2x.png",
			total_width: 578,
			total_height: 478,
		),
	),
	"megafon-tablet": (
		normal: (
			x: 95,
			y: 88,
			width: 93,
			height: 42,
			image: "sprites.png",
			total_width: 289,
			total_height: 239,
		),
		retina: (
			x: 190,
			y: 176,
			width: 186,
			height: 84,
			image: "sprites@2x.png",
			total_width: 578,
			total_height: 478,
		),
	),
	"megafon": (
		normal: (
			x: 225,
			y: 62,
			width: 64,
			height: 29,
			image: "sprites.png",
			total_width: 289,
			total_height: 239,
		),
		retina: (
			x: 450,
			y: 124,
			width: 128,
			height: 58,
			image: "sprites@2x.png",
			total_width: 578,
			total_height: 478,
		),
	),
	"person": (
		normal: (
			x: 259,
			y: 155,
			width: 22,
			height: 22,
			image: "sprites.png",
			total_width: 289,
			total_height: 239,
		),
		retina: (
			x: 518,
			y: 310,
			width: 44,
			height: 44,
			image: "sprites@2x.png",
			total_width: 578,
			total_height: 478,
		),
	),
	"telegram": (
		normal: (
			x: 190,
			y: 141,
			width: 32,
			height: 32,
			image: "sprites.png",
			total_width: 289,
			total_height: 239,
		),
		retina: (
			x: 380,
			y: 282,
			width: 64,
			height: 64,
			image: "sprites@2x.png",
			total_width: 578,
			total_height: 478,
		),
	),
	"twitter": (
		normal: (
			x: 0,
			y: 207,
			width: 32,
			height: 32,
			image: "sprites.png",
			total_width: 289,
			total_height: 239,
		),
		retina: (
			x: 0,
			y: 414,
			width: 64,
			height: 64,
			image: "sprites@2x.png",
			total_width: 578,
			total_height: 478,
		),
	),
	"uniqlo-tablet": (
		normal: (
			x: 0,
			y: 132,
			width: 93,
			height: 42,
			image: "sprites.png",
			total_width: 289,
			total_height: 239,
		),
		retina: (
			x: 0,
			y: 264,
			width: 186,
			height: 84,
			image: "sprites@2x.png",
			total_width: 578,
			total_height: 478,
		),
	),
	"uniqlo": (
		normal: (
			x: 225,
			y: 93,
			width: 64,
			height: 29,
			image: "sprites.png",
			total_width: 289,
			total_height: 239,
		),
		retina: (
			x: 450,
			y: 186,
			width: 128,
			height: 58,
			image: "sprites@2x.png",
			total_width: 578,
			total_height: 478,
		),
	),
	"yota-big": (
		normal: (
			x: 190,
			y: 0,
			width: 33,
			height: 71,
			image: "sprites.png",
			total_width: 289,
			total_height: 239,
		),
		retina: (
			x: 380,
			y: 0,
			width: 66,
			height: 142,
			image: "sprites@2x.png",
			total_width: 578,
			total_height: 478,
		),
	),
	"yota-tablet": (
		normal: (
			x: 95,
			y: 132,
			width: 93,
			height: 42,
			image: "sprites.png",
			total_width: 289,
			total_height: 239,
		),
		retina: (
			x: 190,
			y: 264,
			width: 186,
			height: 84,
			image: "sprites@2x.png",
			total_width: 578,
			total_height: 478,
		),
	),
	"yota": (
		normal: (
			x: 225,
			y: 124,
			width: 64,
			height: 29,
			image: "sprites.png",
			total_width: 289,
			total_height: 239,
		),
		retina: (
			x: 450,
			y: 248,
			width: 128,
			height: 58,
			image: "sprites@2x.png",
			total_width: 578,
			total_height: 478,
		),
	),
);

@each $name in map-keys($sprites) {
	.sprite-#{$name} {
		@include sprite($name);
	}
}
