.headline,
h1 {
	@include fluid-type(rem(24), rem(36));

	margin: rem(19) 0;
	font-weight: $font-weight-primary;
	line-height: 1.3;
	text-align: center;
	color: $prussian-blue;

	&--brand {
		margin-bottom: rem(10);
		font-size: rem(36);
		text-align: left;
		color: $cerulean;
	}

	@media screen and (min-width: rem($tablet-width)) {
		text-align: left;

		&--brand {
			font-weight: $font-weight-secondary;
		}
	}
}
