// stylelint-disable scss/dollar-variable-empty-line-before

// colors

$black: rgba(0, 0, 0, 1);
$nevada: rgba(102, 105, 108, 1);
$storm-gray: rgba(111, 116, 132, 1);
$boulder: rgba(120, 120, 120, 1);
$raven: rgba(118, 123, 138, 1);
$dusty-gray: rgba(153, 153, 153, 1);
$aluminium: rgba(167, 169, 172, 1);
$silver-chalice: rgba(177, 177, 177, 1);
$iron: rgba(228, 228, 229, 1);
$mercury: rgba(229, 229, 229, 1);
$porcelain: rgba(231, 232, 234, 1);
$gallery: rgba(235, 235, 235, 1);
$athens-gray: rgba(248, 248, 249, 1);
$alabaster: rgba(249, 249, 249, 1);
$selago: rgba(249, 251, 254, 1);
$white-lilac: rgba(247, 249, 252, 1);
$prussian-blue: rgba(0, 32, 71, 1);
$royal-blue: rgba(53, 112, 239, 1);
$cerulean: rgba(0, 191, 243, 1);
$dodger-blue: rgba(35, 110, 248, 1);
$vivid-blue: rgba(35, 172, 246, 1);
$cornflower-blue: rgba(100, 151, 251, 1);
$white: rgba(255, 255, 255, 1);

// fonts

$font-family-primary: "PT Sans", "Roboto", "Helvetica", "Arial", sans-serif;

// font size

$root-font-size: 16px;

// font weights
$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;
$font-weight-primary: $font-weight-normal;
$font-weight-secondary: $font-weight-bold;

// line-height

$line-height-primary: 1.35;

// viewport

$mobile-width: 320px;
$phablet-width: 768px;
$tablet-width: 992px;
$laptop-width: 1366px;
$desktop-width: 1920px;

// wrapper

$wrapper: 1344px;
