.video-slider {
	margin-bottom: rem(11);
}

.video-slider__item {
	position: relative;
}

.video-slider__poster {
	position: absolute;
	left: 50%;
	top: 0;
	display: block;
	margin: 0 auto;
	width: 100%;
	height: rem(314);
	max-width: rem(226);
	object-fit: cover;
	transform: translateX(-50%);
	cursor: pointer;
}

.video-slider__video {
	display: block;
	margin: 0 auto;
	border: 0;
	background-image: url("../images/preloader.svg");
	background-position: 50% 50%;
	background-size: rem(64) rem(64);
	background-repeat: no-repeat;
	background-color: $selago;
}

.video-slider__play-button {
	@include transition;

	position: absolute;
	left: rem(159);
	top: rem(294);
	margin: 0;
	border: 0;
	padding: 0;
	background-color: transparent;
}

.video-slider__play-icon {
	width: rem(46);
	height: rem(46);
}

.video-slider__headline {
	margin: rem(14) 0;
	font-size: rem(18);
	color: $storm-gray;
}

.video-slider__description {
	@include fluid-type(rem(18), rem(22));

	margin: 0;
}

@media screen and (min-width: rem($tablet-width)) {
	@import "tablet";
}

@media screen and (min-width: rem($laptop-width)) {
	@import "laptop";
}
