.video-slider {
	margin-bottom: rem(11);

	.owl-video-wrapper {
		&::before {
			content: "";
			position: absolute;
			right: rem(21);
			bottom: 0;
			display: block;
			border: 0;
			border-radius: 50%;
			width: rem(46);
			height: rem(46);
			background-color: $vivid-blue;
			transform: translateY(50%);
		}

		&::after {
			@include triangle(to right, rem(14), rem(18), $white);
			@include transition;

			content: "";
			position: absolute;
			right: rem(35);
			bottom: 0;
			transform: translateY(50%);
		}
	}

	.owl-video-play-icon {
		left: 0;
		top: 0;
		margin: 0;
		width: 100%;
		height: 100%;
		background: none;
	}

	.owl-video-tn {
		background-size: cover;
	}
}

.video-slider__headline {
	margin: rem(14) 0;
	font-size: rem(18);
	color: $storm-gray;
}

.video-slider__description {
	@include fluid-type(rem(18), rem(22));

	margin: 0;
}
