.video-slider {
	margin-right: rem(23);
	padding-top: rem(10);
	padding-left: rem(33);
	max-width: rem(874);
}

.video-slider__play-button {
	left: rem(288);
	top: rem(526);
}

.video-slider__play-icon {
	width: rem(73);
	height: rem(73);
}
