.footer__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding-top: rem(8);
}

.footer__logo {
	margin-bottom: rem(41);
}

@media screen and (min-width: rem($tablet-width)) {
	@import "tablet";
}

@media screen and (min-width: rem($laptop-width)) {
	@import "laptop";
}
